<a href="https://colab.research.google.com/github/1Tamanna1/Assignment-submission/blob/main/Day_1_assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [12]:
x = int(input("Enter first value"))
y = int(input("Enter second value"))

print(type(x), type(y))

print( x + y )

Enter first value50
Enter second value20
<class 'int'> <class 'int'>
70

In [6]:
li = [100 , 49, 67, 35, 80, 29, 59]
li.sort()
print(li)

[29, 35, 49, 59, 67, 80, 100]

In [9]:
li.reverse()
print(li)

[100, 80, 67, 59, 49, 35, 29]